# Ignorar los archivos de configuración de la base de datos
AppHomeStore/appsettings.Development.json
AppHomeStore/appsettings.json

# Ignorar archivos de índice de Visual Studio
.vs/
AppHomeStore/obj/
AppHomeStore/bin/